<div>
    <p></p>
    <h1>WEB MARKET</h1>

    <h3>5 самых популярный товаров в корзинах</h3>
    <table class="table table-hover">
        <tr>
            <td>Название товара</td>
            <td>Количество</td>
        </tr>
        <tbody>
        <tr ng-repeat="item in productsInCarts">
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
        </tr>

        </tbody>
    </table>

    <h3>5 самых популярный товаров в заказах</h3>
    <table class="table table-hover">
        <tr>
            <td>Название товара</td>
            <td>Количество</td>
        </tr>
        <tbody>
        <tr ng-repeat="item in productsInOrders">
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
        </tr>

        </tbody>
    </table>
    <p>
</div>
